body {
    background-color: #ffffff ;
    font-family: Hanken Grotesk;
    font-size: 16px;
}

#container{
    display: flex;
    justify-content: center;
    padding-top: 10%;

}
.result, .summary{
  border-radius: 10%;
  padding: 2%;
  max-width: 20%;
  min-width: 300px;
}

/* Result Section */
.result{
    background: linear-gradient(to top, hsl(241, 100%, 42%), hsl(252, 100%, 67%));
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    flex: 1;
}


.result h4{
    margin-top: auto;
    color: hsl(0, 0%, 100%, 60%);
    font-size: 1.8rem;
}
.circle{
    border-radius: 50%;
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  hsl(241, 81%, 54%);
    
}

.result span{
    color: hsl(0, 0%, 100%, 35%);
    font-size: 1.3rem;
    margin-bottom: -20%;

}

.result  h1{
    color: white;
    margin-top: -20%; /* Remove default margin */
    margin-bottom: -15%; /* Adjust as needed */
    font-size: 5rem;
  }
.result h2{
    font-weight: 800;
    font-size: 2.5rem;
   margin-top: 0%;
   margin-bottom: 5%;
}
  .result p{
    color: hsl(0, 0%, 100%, 60%);
    font-size: 1.7rem;
    text-align: center;
    margin-top: auto;
} 

/* Summary Section */
.summary{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-left: -4%;
    padding: 3%;
    width: 100%;
}

.summary h3{
    padding-left: 12%;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: -2%;
    margin-top: -6%;
}

ul li{
    list-style: none;
    display: flex;
    flex-direction: column;    
    height: 20%;

}

.Reaction{
    color: hsl(0, 100%, 67%);
   font-size: 1.2rem;

}

.Memory{
    color: hsl(39, 100%, 56%);
    padding-left: 3%;
    font-size: 1.2rem;
}
.Verbal{
    color: hsl(166, 100%, 37%);
    padding-left: 3%;
    font-size: 1.2rem;
}
.Visual{
    color: hsl(234, 85%, 45%);
    padding-left: 3%;
      font-size: 1.2rem;
}

ul li p .Number{
    font-weight: 700;
    margin-left: auto;
    color: black;
}

.summary p {
    display: flex;
    padding: 5%;
    color: hsla(0, 0%, 45%, 0.6);
    font-weight: 700;
    border-radius: 14px;
    

}

.bgd1{
    background-color: hsl(0, 100%, 67%, 6%);
}


.bgd2{
    background-color:  hsl(39, 100%, 56%, 6%);
   
}


.bgd3{
    background-color:  hsl(166, 100%, 37%, 6%);

}

.bgd4{
    background-color:  hsl(234, 85%, 45%, 6%);

}

.button{
    background-color:  hsl(224, 30%, 27%);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media all and (max-width: 637px){
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        display: flex;
        justify-content: center;
    }

   
    .summary h3{
        padding-left: 30%;
        font-weight: 800;
        font-size: 2rem;
        margin-bottom: -2%;
        margin-top: -6%;
    }
    

    #container{
        /* display: flex;
        justify-content: center;
        padding-top: 10%;
     */
        flex-direction: column;
        padding: 5%;

      }
     .result, .summary{
        /* border-radius: 10%;
        padding: 2%;
        max-width: 20%;
        min-width: 300px; */
        
        border-radius: 10%;
        padding: 2%;
        max-width:100%;     
        min-width: 250px;
        margin-top: 10%;

        }
    
  }
 